@using PastaneMenuVeSiparis.VarlikKatmani
@model Kullanici
@{
    ViewBag.Title = "Add";
}


<div class="row">
    <div class="col-12">
        <h2>Yönetici Ekle</h2>
    </div>
</div>
<hr />
@using (Html.BeginForm("Add", "Kullanici", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x => x.KullaniciAdi, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.KullaniciAdi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.KullaniciSifre, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.KullaniciSifre, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.KullaniciSifre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Adres, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Adres, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Telno, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Telno, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Telno, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Yetki, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Yetki, ViewBag.EnumOptions as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <a href="@Url.Action("List")" class="btn btn-default">İptal</a>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </div>
}